<h2>Elections</h2>
<p><%= link_to 'New', :new_election, :class => 'btn' %></p>

<table class="table">
  <% @elections.each do |election| %>
    <tr><td><%= link_to election.name, election %></td></tr>
  <% end %>
</table>
