<h2>Elections</h2>
<div style="text-align: right; margin-bottom: 10px; margin-top: -38px;"><%= link_to 'New', :new_election, :class => 'btn' %></div>

<table class="table">
  <% @elections.each do |election| %>
    <tr>
      <td><%= link_to election.name, election %>
        <% if election.enabled? %>
          <span class="label label-success pull-right">Enabled</span>
        <% else %>
          <span class="label label-important pull-right">Disabled</span>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
