<h2>Swipe ID card</h2>

<% if flash[:notice] %>
  <div id="notice"><p><strong><%= flash[:notice] %></strong></p></div>
  <script type="text/javascript">setTimeout(function(){ $("#notice").hide() }, 5000);</script>
<% end %>

<form name="osisform" action="/choose" method="post">
  <input type="text" name="osis" /><br />
  <input type="submit" style="visibility: hidden;" />
</form>

<script>
  $(document).ready(function() {
    $("form [name=osis]").focus();
    $(document).bind("mouseup contextmenu", function() {
      $("form [name=osis]").focus();
      return false;
    });
  });
</script>
