<h2>Swipe ID card</h2>

<%= form_tag '/choose' do %>
  <input type="text" name="osis" /><br />
  <input type="submit" style="visibility: hidden;" />
<% end %>

<script>
  $(document).ready(function() {
    $("form [name=osis]").focus();
    $(document).bind("mouseup contextmenu", function() {
      $("form [name=osis]").focus();
      return false;
    });
  });
</script>
